$image-logo: 350px;
$image-logo-sm: 200px;
.show-henryqrm {
  margin-bottom: 0;
  color: $color-primary-text;
}
.card-profile-background {
  height: 200px;
  border-bottom: 3px solid $color-primary-main;
}
.card-profile-desc {
  text-align: center;
}
.card-profile-desc p {
  padding: 10px;
}
.img-circle-home {
  @extend .img-circle;
  background-size: cover;
  width: $image-logo;
  height: $image-logo;
  background-color: $color-primary-main;
  margin-top: -175px;
  border: 10px solid #000;
}
.svg-logo {

  // background-image: url('assets/svg/logo.svg');
  width: $image-logo;
  height: $image-logo;
  background-position-x: -95px;
  background-position-y: -12px;
  background-repeat: no-repeat;
  background-size: 565px;
}
.card-home-social {
  margin: 20px;
  list-style: none;
  padding: 0;
  float: right;
}
.img-circle-icon {
  @extend .img-circle;
  max-width: 30px;
}
.card-home-social li {
  display: inline-block;
  padding: 0 10px;
}

// Mobile
@media screen and (max-width: 600px) {
  .img-circle-home {
    //@extend .img-circle;
    background-size: cover;
    width: $image-logo-sm;
    height: $image-logo-sm;
    background-color: $color-primary-main;
    margin-top: -100px;
    border: 10px solid #000;
  }
  .svg-logo {

    // background-image: url('assets/svg/logo.svg');
    width: $image-logo-sm;
    height: $image-logo-sm;
    background-position-x: -52px;
    background-position-y: -7px;
    background-repeat: no-repeat;
    background-size: 315px;
  }
}
