<div class="navbar navbar-static-top show-henryqrm" ng-controller="MeHomeCtrl" ng-show="{{showNavbarHome}}">
  <ul class="card-home-social">
    <li>
      <a href="https://github.com/henryqrm">
        <img src="assets/images/icons/github.png" alt="github" class="img-circle-icon">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/henryqrm">
        <img src="assets/images/icons/linkedin.png" alt="linkedin" class="img-circle-icon">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/HenryQRM-1505992946390356/">
        <img src="assets/images/icons/facebook.png" alt="facebook" class="img-circle-icon">
      </a>
    </li>
  </ul>
  <div>
    <div class="card-profile-background">
    </div>
    <div class="card-profile-desc">
      <div layout layout-align="center center">
        <a href="/profile">
          <div class="img-circle-home" flex>
            <div class="svg-logo" style="background-image:url('assets/svg/logo.svg')">

            </div>
          </div>
        </a>
      </div>
      <h3>{{name}}</h3>
      <h4>{{profession}}</h4>
      <p>"{{text}}"</p>
    </div>
  </div>
</div>
