<md-divider style="margin-top:10px"></md-divider>
<footer layout="column" layout-align="center center">
  <div flex="0">
    <div class="circle-footer">
      <div class="svg-logo-footer" style="background-image:url('assets/svg/logo-dark.svg')">
      </div>
    </div>
  </div>
  <div flex="1">
    <span>©2015 HenryQRM - Obrigado a todos os meus <a href="#">amigos</a> e ao site <a href="http://www.freepik.com">Freepik</a></span>
  </div>
  <div flex="2"><a href="#">Blog</a>  •  <a href="#">Eu</a>  •  <a href="#">asd</a>  •  <a href="#">asd</a></div>
  <div flex="3">
    <ul>
      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
      <li><a href="#"><i class="ion-social-github"></i></a></li>
      <li><a href="#"><i class="ion-social-whatsapp"></i></a></li>
      <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
      <li><a href="#"><i class="ion-social-youtube"></i></a></li>
      <li><a href="#"><i class="ion-social-tux"></i></a></li>
    </ul>
  </div>
</footer>
