<div class="container me-business-header">
  Algumas das coisas impressionantes que eu sei fazer! <br>
  <p>A maneira rápida, fácil e acessível para elevar o seu negócio</p>
</div>
<div class="container me-business" layout="row" layout-align="space-around center">
  <div layout flex="15">
    <div layout="column" layout-align="start start">
      <img src="assets/images/profile.jpg" alt="" class="img-circle">
      <h4>Build a Website</h4>
      <p>
        You'll learn the basics to building a website with an introduction to text editors, basic HTML tabs, and advanced HTML skills.
        <a href="#" class="md-warn">Ver mais...</a>
      </p>
    </div>
  </div>
  <div layout flex="15">
    <div layout="column" layout-align="start start">
      <img src="assets/images/profile.jpg" alt="" class="img-circle">
      <h4>Build a Website</h4>
      <p>
        You'll learn the basics to building a website with an introduction to text editors, basic HTML tabs, and advanced HTML skills.
        <a href="#" class="md-warn">Ver mais...</a>
      </p>
    </div>
  </div>
  <div layout flex="15">
    <div layout="column" layout-align="start start">
      <img src="assets/images/profile.jpg" alt="" class="img-circle">
      <h4>Build a Website</h4>
      <p>
        You'll learn the basics to building a website with an introduction to text editors, basic HTML tabs, and advanced HTML skills.
        <a href="#" class="md-warn">Ver mais...</a>
      </p>
    </div>
  </div>
  <div layout flex="15">
    <div layout="column" layout-align="start center">
      <img src="assets/images/profile.jpg" alt="" class="img-circle">
      <h4>Build a Website</h4>
      <p>
        You'll learn the basics to building a website with an introduction to text editors, basic HTML tabs, and advanced HTML skills.
        <a href="#" class="md-warn">Ver mais...</a>
      </p>
    </div>
  </div>
</div>
